
{% extends 'base.html' %}

{% block body %}

<
<h1 class="display-4 text-center ">Overview</h1>
<p></p>
<div class="row">
    <div class="col-5 me-5 mb-5 border border-5">
        <h1 class="display-5 text-center">Background</h1>
        <p> My initial research topic was how the biases of the younger generation are skewed when they don't have enough recources to make a proper judgement, this changed to a way to get info on your situation and what to do about it. 
            .</p>
             </div>

        <p></p>
        <h1 class="display-4 container text-center">A Little About Me</h1>
        <p class="myfont1">My name is Kentavis Jackson and I am a senior in the Computer Science Academy and chose to make this website because there are people in the world who don't know the situation they are in until it's too late. </p>
             </div>
</div>

{% endblock %}